h3{
	font-size: 20px;
	color: green;
	border: red solid 2px;
}
.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #fff;
	background-color: #ddd;
}

label{
	font-size: 25px;
}

.first_name, .last_name, .email, .password,{
    width: 90%;
    height: 25px;
    padding: 10px;
    font-size: 18px;
}
.message{
	font-size: 18px;
	padding: 10px;
}
